.chat-contents
  = render "shared/side_bar"

  .chat
    .chat-header
      .chat-header__group
        .chat-header__group__name
          = @group.name
        .chat-header__members
          MEMBER:
          - @group.users.each do |user|
            = user.name
      .chat-header__group__edit-btn
        = link_to "Edit", edit_group_path(@group)

    .chat-body
      = render @messages

    = render "chat-footer"
